/* Global Styles */

html, body {
  height: 100%; 
  overscroll-behavior: none;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.main-content {
  flex: 1; /* Pushes the footer down */
}



.footer {
  background: rgb(69, 67, 67);
  width: 100%;
  text-align: center;
  padding: 20px;
  color: white;
}
  
  .footer {
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .footer {
        font-size: 14px;
        padding: 15px;
    }
}

  
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background: rgb(204, 207, 204);
}
