/* Global Styles */
html, body {
  height: 100%; 
  overscroll-behavior: none;
  /* overflow-x: hidden; */
}
  * {
    /* outline: 1px solid red; */
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
}

.main-content {
  flex: 1; /* Pushes the footer down */
}

.footer-container {
  background: rgb(69, 67, 67);
  width: 100%;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 16px;
  line-height: 1.5;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgb(204, 207, 204);
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
  .footer-container {
    font-size: 14px;
    padding: 15px;
  }
}

@media (max-width: 375px) {
  .footer-container {
    font-size: 12px; /* Smaller font size for 375px screens */
    padding: 10px; /* Reduced padding for 375px screens */
  }
}

@media (max-width: 320px) {
  .footer-container {
    font-size: 11px; /* Smaller font size for 320px screens */
    padding: 8px; /* Reduced padding for 320px screens */
  }
}
